<!-- Page Content -->
<div class="container mx-5 my-5">

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Espacios</h1>
  </div>

  <div class="row">

    <div class="col-md-4 mb-4" *ngFor="let venue of venues; index as i">
      <div class="card h-100 pb-2">
        <img src="{{venue.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-lg font-weight-bold text-gray-800 mb-0">
                {{venue.name}}
              </div>
            </div>
            <!--<div class="col-auto">-->
              <!--<a href="#" class="mr-2"><i class="fas fa-pencil-alt text-success-300"></i></a>-->
            <!--</div>-->
            <!--<div class="col-auto">-->
              <!--<a href="#" class="ml-2"><i class="fas fa-trash-alt text-danger-300"></i></a>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <a class="d-sm-inline-block btn btn-primary btn-rounded text-uppercase float-left"
         [routerLink]="['/dashboard/venue/add']">
        <i class="fas fa-plus"></i> agregar
      </a>
    </div>


  </div>

</div>
<!-- /.container -->
