<div class="row">
  <div class="col-12 mb-5 navbar-search">
    <div class="input-group w-100">
      <input name="query" [(ngModel)]="query" type="text"
             class="form-control bg-light border-0 input-rounded" (keyup.enter)="search()"
             placeholder="Buscá por nombre de canción, artista o álbum." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append" *ngIf="query">
        <a class="btn btn-default pointer" (click)="clean()">x</a>
      </div>
      <div class="input-group-append">
        <button class="btn btn-primary btn-rounded py-0" type="button" (click)="search()">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4" *ngFor="let track of tracks; ">
    <div class="card h-100">
      <img src="{{track.code}}" class="card-img-top" [style.margin-top]="'-20px'">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{track.name}}</div>
            <div class="text-xs font-weight-bold text-primary text-uppercase my-1">{{track.artist}}</div>
            <div class="text-xs font-weight-bold text-gray mb-1">{{track.album}}</div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <a (click)="addTrack(track)"><small class="text-primary text-uppercase pointer">+ agregar</small></a>
      </div>
    </div>
  </div>

  <div class="d-sm-flex align-items-center mx-5 justify-content-between" *ngIf="showMessage">
    <h6 class="mb-0 text-gray-800">No se encontraron resultados</h6>
  </div>
</div>

