<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-12 mt-4">
      <a class="btn btn-info text-uppercase float-right"
         [routerLink]="['/space/add']">
        <i class="fas fa-plus"></i> agregar
      </a>
    </div>

    <div class="col-md-4 mt-4" *ngFor="let space of spaces; index as i">
      <div class="card h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 font-weight-bold mb-3 text-gray-800">
                {{space.name}}
              </div>
            </div>
            <div class="col-auto">
              <a href="#" class="mr-2"><i class="fas fa-pencil-alt fa-lg text-success-100"></i></a>
            </div>
            <div class="col-auto">
              <a href="#" class="ml-2"><i class="fas fa-trash-alt fa-lg text-danger-100"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.container -->
