<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Agregar nuevo espacio</h6>
          <a [routerLink]="['/dashboard/venue/list']" class="close text-primary"><span aria-hidden="true">×</span></a>
        </div>
        <div class="card-body">
          <form class="user form-add" #f="ngForm" (ngSubmit)="submit()" novalidate>
            <ng-container *ngIf="!venue.code; else completeForm">
              <p class="text-dark text-center">
                Para agregar un nuevo espacio, debe loguearse con una <b>nueva cuenta de Spotify</b>.
              </p>
              <a href="{{url}}" class="btn btn-success btn-rounded btn-block">
                <i class="fab fa-spotify mr-1"></i>Spotify</a>
            </ng-container>

            <ng-template #completeForm>
              <p class="text-dark text-center">
                Elija un <b>nombre</b> para identificar su nuevo espacio.
              </p>
              <div class="form-group">
                <input type="text" class="form-control form-control-user" id="name"
                       [(ngModel)]="venue.name" #name="ngModel" name="name">
              </div>

              <button type="submit" class="btn btn-success btn-user btn-block text-uppercase mt-5">agregar</button>
              <a class="btn btn-danger btn-user btn-block text-uppercase" [routerLink]="['/dashboard/venue/list']">cancelar</a>
            </ng-template>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
