<!--<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">-->
  <!--<div class="sidebar-brand d-flex align-items-center justify-content-center">-->
    <!--<img src="../../../../assets/images/logo.png" alt="" width="50">-->
    <!--<span class="sidebar-brand-text mx-2 text-primary">CROWDIFY</span>-->
  <!--</div>-->
<!--</nav>-->


<div class="container">

  <div class="row">

    <div class="col-md-10 col-12 offset-md-1 my-2" *ngFor="let venue of venues; index as i">
      <div class="card border-left-{{colors[i%4]}} h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col-12">
              <div class="h5 font-weight-bold text-{{colors[i%4]}} text-uppercase mb-3">
                {{venue.name}}
              </div>
              <div class="text-xs font-weight-bold text-gray-500 text-uppercase mb-1" *ngIf="!venue.track; else trackShow">
                ... no se está escuchando nada en este espacio ...</div>

              <ng-template #trackShow>
                <iframe [src]="safeURL(venue.track.code)" width="100%" height="80"
                        frameborder="0" allowtransparency="true" allow="encrypted-media"
                        *ngIf="venue.track.playing"></iframe>

                <div class="text-xs font-weight-bold text-gray-500 text-uppercase mb-1"
                     *ngIf="!venue.track.playing">
                  <i class="far fa-pause-circle fa-2x mr-1"></i>
                  <span [style.vertical-align]="'super'">{{venue.track.artist}} - {{venue.track.name}}</span>
                </div>
              </ng-template>
            </div>
            <div class="col-12" *ngIf="venue.poll">
              <app-vote [poll]="venue.poll"></app-vote>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /.container -->
