<div class="container my-5">

  <div class="d-sm-flex align-items-center justify-content-between mb-5">
    <h1 class="h3 mb-0 text-gray-800">Nueva votación</h1>
  </div>

  <form>
    <div class="form-group row mb-3">
      <label class="col-2 col-form-label">
        Espacio
      </label>
      <div class="col-10">
        <select class="form-control custom-select" [(ngModel)]="venueID" name="venue">
          <option *ngFor="let venue of venues" [ngValue]="venue.id">
            {{venue.name}}
          </option>
        </select>
      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Selección de pistas</h6>
      </div>
      <div class="card-body">
        <div class="form-group row my-3">
          <label class="col-2 col-form-label">
            Cantidad
          </label>
          <div class="col-3">
            <div class="form-group">
              <input type="number" class="form-control custom-select" id="name"
                     [(ngModel)]="count" #countTracks="ngModel" name="countTracks">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Selección</label>
          <div class="col-sm-10" *ngIf="!selectedTracks">
            <button class="d-sm-inline-block btn btn-md btn-info text-uppercase shadow-sm"
                    (click)="automaticSelection()"> automática </button>
            <button class="d-sm-inline-block btn btn-md btn-warning text-uppercase shadow-sm ml-4"
                    (click)="manualSelection()"> manual </button>
          </div>
        </div>

        <div class="row" *ngIf="selectedTracks && selectedTracks.length > 0">
          <div class="col-12 mb-3" *ngFor="let track of selectedTracks">
            <div class="card shadow-sm h-100">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <img class="img-profile rounded-circle" src="{{track.code}}">
                  </div>
                  <div class="col ml-4">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{track.name}}</div>
                    <div class="text-xs font-weight-bold text-primary text-uppercase my-1">{{track.artist}}</div>
                    <div class="text-xs font-weight-bold text-gray mb-1">{{track.album}}</div>
                  </div>
                  <div class="col-auto pointer mx-3">
                    <i class="fas fa-trash-alt text-danger-300" (click)="remove(track)"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="float-right my-3">
      <button type="submit" class="btn btn-success text-uppercase"> crear </button>
      <a class="btn btn-danger text-uppercase ml-3" [routerLink]="['/dashboard/venue/list']">cancelar</a>
    </div>
  </form>
</div>
